@charset "utf-8";
/* CSS Document */
@import url("bradley_hand.css");

html, body { min-width:320px; font-family: 'bradley_hand_Bold','돋움', '굴림', 'Dotum', 'Gulim', 'sans-serif'; -webkit-text-size-adjust:none;}
a { text-decoration:none; color:#000; }

.view_loading { display:none; position:fixed; left:0; top:0; z-index:200; width:100%; height:100%; text-align:center; padding-top:70px; background: #FFFFF0; filter: alpha(opacity=60); opacity: 0.6; }

.header {  width:100%; position:fixed; padding:28px 0 27px 53px; z-index:100; border-bottom:1px solid #a0a1a2; box-sizing:border-box; -webkit-box-sizing:border-box; }
.header h1 { float:left; }
.header h1 a { display:block; }
.header a.open_menu_bar { position:relative; float:right; width:30px; height:14px; margin:12px 30px 0 0; }
.header a.open_menu_bar span { position:absolute; right:0; height:2px; background:#fff; }
.header a.open_menu_bar span.sp01 { top:0; width:30px; }
.header a.open_menu_bar span.sp02 { top:50%; width:25px; margin-top:-1px; }
.header a.open_menu_bar span.sp03 { bottom:0; width:20px; }

@keyframes bar {
    from {background-color: #fff;}
    to {background-color: yellow;}
}

.header h1 {
    -webkit-transition:all 0.7s ease-in-out;
    -moz-transition:all 0.7s ease-in-out;
    transition:all 0.7s ease-in-out;
}

.header h1:hover {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    transform:rotate(360deg);
}

.container { width:100%; background:#f1eded; }

.top_btn { display:none; position:fixed; right:30px; bottom:100px; z-index:90; }

/* footer */
.footer { background:#141414;}
.footer_area { overflow:hidden; width:100%; max-width:1440px; margin:0 auto; padding:17px 70px; background:url(../images/main/footer_bg.jpg) no-repeat center center; background-size:cover; box-sizing:border-box; -webkit-box-sizing:border-box; }
.footer_title { float:left; width:25%; }
.footer_title p { min-width:208px; font-size:30px; color:#fff; padding-left:42px; line-height:1.5; background:url(../images/common/contact_bg.png) no-repeat left center; }
.footer_address { float:right; margin-top:10px; }
.footer_address p { float:left; font-size:18px; color:#fff; margin-left:40px; line-height:1.5;}
.footer_address p:first-child { margin-left:0;}
.footer_address p a { color:#fff;}
