@charset "utf-8";
/* CSS Document */

@media all and (min-width:957px) and (max-width:9999px) {

.header { padding:28px 0 27px 53px; }

}

@media all and (min-width:817px) and (max-width:956px) {

.header { padding:15px 0 15px 53px; }
#Simlider li span { font-size:25px;}
.footer_title { padding-top:3px; }
.footer_title img { width:40%; min-width:140px; }
.footer_address p { font-size:16px;}

}

@media all and (min-width:617px) and (max-width:816px) and (orientation : portrait) {

.header { padding:15px 0 15px 53px; }
.header a.open_menu_bar { margin-top:5px; }
.visual_txt span { width:70%; margin:0 auto; font-size:40px;}
.visual_txt span.sub_tit { width:100%; font-size:16px; }
#Simlider li span { font-size:20px;}
.footer_title { width:100%; text-align:center; margin-bottom:20px; padding-top:0; }
.footer_title img { width:40%; min-width:180px; }
.footer_address { width:100%;}
.footer_address p { font-size:15px; text-align:center;}
.footer_address p span { display:block; width:100%; }

}

@media all and (min-width:5px) and (max-width:616px)  {

.header { padding:7px 0 7px 30px; }
.header img { width:30px;}
.header a.open_menu_bar { margin-top:5px; }
.visual_txt span { width:70%; margin:0 auto; font-size:40px;}
.visual_txt span.sub_tit { width:100%; font-size:16px; }
.portfolio h2 { font-size:30px; }
.portfolio h2 span:before { width:30px; height:44px; margin-right:10px; background-position-y:7px; }
.portfolio h2 span:after { width:30px; height:44px; margin-left:10px; background-position-y:7px; }
.footer_area { padding:37px 70px 37px 70px; }
.footer_title { width:100%; text-align:center; margin-bottom:20px; padding-top:0; }
.footer_title img { width:50%; min-width:180px; }
.footer_address { width:100%;}
.footer_address p { font-size:12px; text-align:center;}
.footer_address p span { display:block; width:100%; }
}










